@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 font-sans;
  }
}

@layer components {

  .navbar {
    @apply flex items-center p-8 bg-slate-900 rounded-b-2xl shadow-2xl text-slate-100;
  }

  .left-nav {
    @apply flex items-center space-x-4 basis-64;
  }

  .right-nav {
    @apply flex justify-center items-center space-x-6 basis-340;
  }

  .nav-item {
    @apply relative text-slate-300 hover:text-white transition-all duration-300;
  }

  .nav-item::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-full bg-blue-500
          scale-x-0 origin-center
          transition-transform duration-300;
  }

  .nav-item:hover::after {
    @apply scale-x-100;
  }

   /*  main wrapper  */
  .main-wrapper {
    @apply max-w-7xl mx-auto px-8 mt-20;
  }

  /* hero section */
  .hero-section {
    @apply grid grid-cols-1 md:grid-cols-2 gap-12 items-center;
  }

  .hero-left {
    @apply space-y-6;
  }

  .hero-right {
    @apply relative;
  }

  /* ===== HERO TEXT ===== */
  .hero-title {
    @apply text-4xl md:text-5xl font-bold leading-tight text-gray-900;
  }

  .hero-title span {
    @apply text-blue-500;
  }

  .hero-desc {
    @apply text-gray-600 max-w-md;
  }

  /* status badge */
  .status-dot {
    @apply w-2 h-2 bg-cyan-500 rounded-full animate-pulse;
  }

  .status-text {
    @apply text-sm font-medium text-cyan-800;
  }

  .top-section {
    @apply flex items-center gap-2 bg-blue-100 px-4 py-2 rounded-lg w-fit;
  }

  /* ===== BUTTONS ===== */
  .hero-actions {
    @apply flex gap-4;
  }

  .btn-primary {
    @apply px-6 py-3 bg-blue-500 text-white rounded-lg
           hover:bg-blue-600 transition;
  }

  .btn-secondary {
    @apply px-6 py-3 border border-blue-500 text-blue-500 rounded-lg
           hover:bg-blue-50 transition;
  }

  /* ===== HERO IMAGE ===== */
  .hero-image {
    @apply w-full aspect-video object-cover rounded-2xl shadow-2xl
           transition-transform duration-500 hover:scale-[1.02];
  }
}